@import "style.css";

/*------ HEADER & BODY ------*/
a.twitter {
  color: rgb(0, 217, 255);
}
a.about {
  color: white;
}

div.header {
  padding: 25px;
  background-image: url(https://nexd3v.github.io/assets/images/nexd3v-full.png);
  background-position: 0% 45%;
  background-size: cover;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  position: relative;
  margin-top: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0px;
}
.card1 img.about {
  background-color: #00000050;
  border-radius: 10px;
  width: 165px;
  height: 265px;
}
.card1 img.about:hover {
  background-color: #00000000;
}

.header img.nexicon {
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 237px;
}
.header h1 {
  position: absolute;
  left: 175px;
  top: 250px;
  text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000,
    1px 1px 0 #000;
}
/*------ Just a test ------*/
.box1 {
  width: 175px;
  height: 275px;
  display: grid;
  place-items: center;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-radius: 10px;
}
.box1::after {
  content: "";
  width: 70px;
  height: 200%;
  position: absolute;
  background-color: rgb(248, 237, 78);
  animation: animate 3s infinite linear;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card1 {
  width: 165px;
  height: 265px;
  background-image: url(https://nexd3v.github.io/assets/images/nexd3v.png);
  background-position: center;
  background-size: cover;
  z-index: 1;
  display: grid;
  place-items: center;
  border-radius: 10px;
}
/*------ Website content Border ------*/
.box2 {
  border: 2px solid rgb(206, 203, 209);
  border-radius: 10px;
  /*margin: 15%;*/
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
  padding: 0 10px;
}

/*------ BUTTONS ------*/
.button {
  background-color: #04aa6d;
  border: none;
  border-radius: 10px;
  color: blueviolet;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.clickme {
  background-color: #aa0404;
  color: rgb(211, 213, 109);
}

.clickme:hover {
  background-color: #910303;
  color: rgb(226, 183, 43);
}

.jp-flag {
  width: 56px;
  height: 40px;
}

/*------ INTRO ------*/

.intro {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
