/*------ FONTS -------*/
@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Regular.woff2);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Italic.woff2);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Bold.woff2);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-BoldItalic.woff2);
  font-style: italic;
  font-weight: bold;
}

* {
  font-family: JBMNerd;
}

body {
  box-sizing: border-box;
  color: white;
  background-color: rgba(149, 109, 213, 0.95);
}

a.twitter {
  color: rgb(0, 217, 255);
}

div.header {
  padding: 200px;
  background-image: url(https://nexd3v.github.io/assets/images/nexd3v-v1.png);
  background-size: cover;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  position: relative;
}

.header img {
  position: absolute;
  left: 15px;
  top: 150px;
}
.header h1 {
  position: absolute;
  left: 175px;
  top: 150px;
  outline: 10px;
  outline-color: black;
}

.box {
  border: 2px solid rgb(206, 203, 209);
  border-radius: 10px;
  /*margin: 15%;*/
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
}

.button {
  background-color: #04aa6d;
  border: none;
  border-radius: 10px;
  color: blueviolet;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.clickme {
  background-color: #aa0404;
  color: rgb(211, 213, 109);
}

.clickme:hover {
  background-color: #910303;
  color: rgb(226, 183, 43);
}
