/*------ FONTS -------*/
@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Regular.woff2);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Italic.woff2);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Bold.woff2);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-BoldItalic.woff2);
  font-style: italic;
  font-weight: bold;
}

* {
  font-family: JBMNerd;
}

/*------ BODY & HEADER ------*/
body {
  box-sizing: border-box;
  color: white;
  background-color: rgba(149, 109, 213, 0.95);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(150, 91, 184, 0.568);
  color: white;
  text-align: center;
}
