/*------ FONTS -------*/
@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Regular.woff2);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Italic.woff2);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Bold.woff2);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-BoldItalic.woff2);
  font-style: italic;
  font-weight: bold;
}

* {
  font-family: JBMNerd;
}

/*------ BODY & HEADER ------*/
body {
  box-sizing: border-box;
  color: white;
  background-color: rgba(149, 109, 213, 0.95);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  background: rgba(150, 91, 184, 0.568);
  grid: 50px / 1fr 1fr;
  text-align: left;
}
#social-icons {
  padding: 0 15px 0 15px;
  margin: 11px;
  align-items: center;
  text-decoration: none;
  color: black;
}
.image-hover-highlight {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
}
.image-hover-highlight:hover {
  opacity: 0.75;
}
footer p {
  margin-top: 15px;
  margin-left: 50px;
}
