@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/*------ FONTS -------*/
@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Regular.woff2);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Italic.woff2);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-Bold.woff2);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: JBMNerd;
  src: url(https://nexd3v.github.io/assets/fonts/JetBrainsMonoNerdFont-BoldItalic.woff2);
  font-style: italic;
  font-weight: bold;
}

* {
  font-family: JBMNerd;
}

/*------ BODY & HEADER ------*/
body {
  margin: 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100vh; */
  box-sizing: border-box;
  color: white;
  background-color: #2d2d2d;
  /*background-color: rgba(149, 109, 213, 0.95);*/
}

header {
  margin: 8px 10px;
}

main {
  /* flex-grow: 1; */
  min-height: calc(100vh - 491px);
}

footer {
  height: 75px;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  color: #fff;
  background-color: #1f1f1f;
  text-align: center;
}

/* footer {
  margin: 0;
height: 75px;
  display: flex;
  color: #fff;
  background-color: #1f1f1f;
  text-align: center;
} */

/*footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  display: flex;
  color: #fff;
  background-color: #1f1f1f;
  text-align: center;
}*/

#social-icons {
  padding: 0 15px 0 15px;
  margin: 11px;
  align-items: center;
  text-decoration: none;
  color: black;
}
.image-hover-highlight {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
}
.image-hover-highlight:hover {
  opacity: 0.75;
}
nav a {
  color: rgba(168, 132, 226);
}

.nav {
  margin: 5px 0;
  left: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373737;
  /*background: rgba(168, 132, 226, 0.95);*/
  border-radius: 4px;
  box-sizing: border-box;
}

/*------ FOOTER -------*/
#footer-note {
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icons {
  left: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1;
  font-size: 1.5rem;
  color: #7a7a7a;
  background-color: #373737;
  border-radius: 50%;
  transition: color 0.5s ease-in-out;
}

@property --fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

.icons:hover {
  color: rgb(151, 85, 182);
  --fill: 100%;
}

.icons::after {
  position: absolute;
  z-index: -1;
  content: "";
  inset: -3px;
  border-radius: inherit;

  background: conic-gradient(
    rgb(151, 85, 182) var(--fill),
    transparent var(--fill)
  );
  transition: --fill 0.6s ease-in-out;
}
